<h1> Estadísticas </h1>

<table>
	<tr><td>Número de preguntas</td><td><%=statistics.n_preguntas%></td><tr>
	<tr><td>Número de comentarios</td><td><%=statistics.n_comentarios%></td><tr>
	<tr><td>Promedio de comentarios</td><td><%=statistics.promedio_comentarios%></td><tr>
	<tr><td>Preguntas sin comentarios</td><td><%=statistics.preguntas_sin_comentarios%></td><tr>
	<tr><td>Preguntas con comentarios</td><td><%=statistics.preguntas_con_comentarios%></td><tr>
	<tr><td>Comentarios no publicados</td><td><%=statistics.comentarios_no_publicados%></td><tr>
</table>

